.GameSwiper {
	display: flex;
	overflow-x: auto;
	@include themeify {
		margin-bottom: 56px;
		.mySwiper {
			width: 120% !important;
			// padding-right: 30px;
		}
		> div {
			width: 210px;
			background-color: themed("BG3");

			border-radius: 20px;
			// border: 2px solid themed("T3");
			box-sizing: border-box;

			position: relative;
			margin-right: 16px;
			.gameImg {
				height: 210px;
				width: 210px;
			}
			.gameInfo {
				height: 72px;
				display: flex;
				align-items: center;
				padding: 0 12px;
				box-sizing: border-box;
				p {
					overflow-wrap: break-word;
					width: 100%;
				}
			}
			.collect {
				position: absolute;
				right: 10px;
				top: 10px;
				width: 32px;
				height: 32px;
			}
			svg {
				width: 100%;
				height: auto;
			}
		}
		h3 {
			font-weight: normal;
			line-height: 40px;
		}
	}
}
.GameSwiper::-webkit-scrollbar {
	display: none;
}
