// card组件 球类卡片样式
.card-item {
	margin: 0px 24px 24px 24px;
	border-radius: 16px;
	overflow: hidden;
	@include themeify {
		background-color: themed("BG3");
	}

	.tournament-header {
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px 8px 19px;
		border-radius: 16px 16px 0px 0px;
		@include themeify {
			background: themed("--JBS-CARD");
			box-shadow: 0px 1px 4px 0px themed("--JBS-CARD--shadow");
		}
		box-sizing: border-box;

		.tournament-info {
			display: flex;
			align-items: center;
			gap: 12px;
			.tournament-icon {
				width: 30px;
				height: 30px;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.tournament-name {
				width: 526px;
				@include themeify {
					color: themed("TB");
				}
				font-family: "PingFang SC";
				font-size: 24px;
				font-weight: 400;
				line-height: 34px;
				white-space: nowrap; /* 禁止换行 */
				overflow: hidden; /* 隐藏超出部分 */
				text-overflow: ellipsis; /* 显示省略号 */
			}
		}

		.arrow {
			width: 40px;
			height: 40px;
		}
		.sport_arrow {
			transform: rotate(-180deg);
		}
	}

	// eventItem
	.content {
		.content-header {
			height: 60px;
			display: flex;
			padding: 10px 18px 10px 12px;
			@include themeify {
				background-color: themed("Line");
			}
			box-sizing: border-box;
			.left {
				width: 304px;
				gap: 12px;
			}
			.right {
				width: 368px;
				gap: 4px;
			}
			.left,
			.right {
				display: flex;
				align-items: center;

				.icon {
					width: 40px;
					height: 40px;
				}

				.label {
					@include themeify {
						color: themed("Theme");
					}
					font-family: "PingFang SC";
					font-size: 22px;
					font-weight: 500;
					line-height: 34px;
				}

				.title {
					@include themeify {
						color: themed("T1");
					}
					text-align: center;
					font-family: "PingFang SC";
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;

					&:nth-child(1) {
						width: 136px;
					}
					&:nth-child(2) {
						width: 112px;
					}
					&:nth-child(3) {
						width: 112px;
					}
				}
			}
		}

		.content-info {
			height: 276px;
			display: flex;
			padding: 0px 18px 0px 12px;
			box-sizing: border-box;
			.content-left {
				width: 304px;
				padding-right: 10px;
				padding-bottom: 20px;
				box-sizing: border-box;
				.team-tournament-info {
					height: 32px;
					display: flex;
					align-items: center;
					.icon {
						width: 32px;
						height: 32px;
						margin-right: 14px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.name {
						flex: 1;
						min-width: 180px;
						@include themeify {
							color: themed("TB");
						}
						font-family: "PingFang SC";
						font-size: 22px;
						font-weight: 400;
						line-height: 26px;
						white-space: nowrap; /* 禁止换行 */
						overflow: hidden; /* 隐藏超出部分 */
						text-overflow: ellipsis; /* 显示省略号 */
					}
					.foul-info {
						display: flex;
						align-items: center;
						gap: 6px;
						margin-left: 6px;
						margin-right: 10px;

						.red {
							@include themeify {
								background-color: themed("Warn");
							}
						}
						.yellow {
							@include themeify {
								background-color: themed("Hint");
							}
						}
						.yellow,
						.red {
							min-width: 20px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0px 4px;
							border-radius: 4px;
							@include themeify {
								color: themed("TB");
							}
							font-family: "PingFang SC";
							font-size: 18px;
							font-weight: 400;
							box-sizing: border-box;
						}
						.hide {
							visibility: hidden;
						}
					}
				}

				.score-info {
					display: flex;
					align-items: center;
					height: 50px;
					margin-top: 31px;
					margin-left: 46px;
					.icon {
						width: 27px;
						height: 4px;
						margin: 0px 6px;
						@include themeify {
							background-color: themed("Line");
						}
						border-radius: 2px;
					}
					span {
						display: block;
						width: 50px;
						height: 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 8px;
						@include themeify {
							background-color: themed("Line");
							color: themed("TB");
						}
						font-family: "DIN Alternate";
						font-size: 32px;
						font-weight: 700;
						line-height: 34px;
					}
				}

				.others {
					height: 32px;
					display: flex;
					align-items: center;
					gap: 12px;
					margin-top: 32px;

					.other2 {
						margin-left: 8px;
						font-family: "DIN Alternate";
						font-size: 18px;
						font-weight: 700;
						span {
							&:nth-child(1) {
								@include themeify {
									color: themed("T1");
								}
							}
							&:nth-child(2) {
								margin-left: 4px;
								@include themeify {
									color: themed("Theme");
								}
							}
						}
					}
					.other3 {
						width: 32px;
						height: 32px;
						margin-left: 14px;
						color: #798d9f;
						display: flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 100%;
							height: 100%;
							fill: none;
						}
					}
					.other5 {
						min-width: 30px;
						max-width: 56px;
						height: 26px;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0px 6px;
						border-radius: 4px;
						@include themeify {
							background-color: themed("T3");
							color: themed("TB1");
						}
						font-family: "PingFang SC";
						font-size: 20px;
						font-weight: 400;
					}
				}
			}
			.content-right {
				position: relative;
				width: 368px;
				margin-top: 4px;
				box-sizing: border-box;
				.arrow {
					position: absolute;
					top: 118px;
					right: -16px;
					z-index: 10;
					img {
						width: 30px;
						height: 20px;
					}
				}

				.arrow_reversal {
					transform: rotate(180deg);
				}

				.content {
					display: flex;
					gap: 4px;
					padding-bottom: 20px;
				}
			}

			:deep(.swiper) {
				.swiper-pagination {
					bottom: 1px;

					.swiper-pagination-bullet {
						width: 8px;
						height: 4px;
						border-radius: 2px;
						@include themeify {
							background-color: themed("T3");
						}
					}
					.swiper-pagination-bullet-active {
						width: 14px;
						height: 4px;
						border-radius: 2px;
						@include themeify {
							background-color: themed("Theme");
						}
					}
				}
			}
		}
	}
}

.oddsUp {
	@include themeify {
		color: themed("Theme") !important;
	}
}

.oddsDown {
	@include themeify {
		color: themed("Wam-P1") !important;
	}
}
