// 颜色（N：黑夜版使用，D：白天版使用，P：黑白共用）

$themes: (
	// 默认
	default:
		(
			Theme: #ff284b,
			Warn: #ff284b,
			Tag2: #67707b,
			BG1: #181818,
			BG3: #2c2d2e,
			TB: #fff,
			T3: #6d727a,
		),
	// 白色主题
	dark:
		(
			Theme: #ff284b,
			Warn: #ff284b,
			Tag2: #f3f3f3,
			BG1: #f3f3f3,
			BG3: #ffffff,
			TB: #333333,
			T3: #6d727a,
		)
);
