.Carousel {
	position: relative;
	.Carousel__swiper {
		.swiper-slide {
			border-radius: 10px;
			overflow: hidden;
		}
	}
	@include themeify {
		// margin-bottom: 56px;
		img {
			width: 100%;
		}
		.swiper-pagination {
			// position: relative;
			margin-bottom: 10px;
			height: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			.swiper-pagination-bullet {
				width: 24px;
				height: 24px;
				background: none;
				text-align: center;
				display: inline-block;
				border-radius: 24px;
				opacity: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				span {
					background-color: themed("TB");
					width: 12px;
					height: 12px;
					border-radius: 12px;
					display: inline-block;
					opacity: 0.7;
				}
			}
			.swiper-pagination-bullet-active {
				// width: 40px;
				border: 1px solid themed("Theme");
				span {
					background-color: themed("Theme");
					width: 20px;
					height: 20px;
					border-radius: 12px;
					display: inline-block;
					opacity: 0.7;
				}
			}
		}
	}
}
