.table {
	display: flex;
	justify-content: space-between;
	// padding: 20px;
	border-radius: 8px;
	// @include themeify {
	// 	background-color: themed("BG2");
	// }
	.table-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.table-top {
		font-family: "PingFang SC";
		font-size: 26px;
		font-style: normal;
		font-weight: 500;
		padding: 8px 20px;
		margin-bottom: 20px;
		@include themeify {
			color: themed("TB");
		}
	}
	.table-line {
		font-family: "PingFang SC";
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		height: 68px;
		line-height: 68px;
		@include themeify {
			color: themed("T1");
		}
	}
}
