.price_title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
	@include themeify {
		color: themed("T1");
	}
}
.handicap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 16px;

	.handicap-item {
		width: 319px;
		height: 68px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 12px;
		@include themeify {
			background: themed("BG4");
		}
		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 319px;
			height: 68px;
			padding: 17px 24px;
			box-sizing: border-box;
			font-size: 28px;
			border-radius: 12px;
			@include themeify {
				background: themed("BG4");
				span {
					display: block;
					color: themed("T1");
				}
				.value {
					font-weight: bold;
				}
				.green {
					color: themed("Wam-P1");
				}
				.red {
					color: themed("Theme");
				}
			}
		}
		.isBright {
			@include themeify {
				background-color: themed("Theme");
				span {
					color: themed("TB1");
				}
				.value {
					color: themed("TB1");
				}
			}
		}
	}
}

.lock {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.noData {
	display: inline-block;
	width: 14px;
	height: 1px;
	margin: 0 auto;
	border-radius: 2px;
	@include themeify {
		background-color: themed("T1");
	}
}

.odds {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 16px;
	.odds-item {
		// width: 159px;
		flex: 1;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@include themeify {
			background: themed("BG4");
		}
		.item {
			flex: 1;
			height: 39px;
			padding: 15px 24px;
			border-radius: 12px;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-evenly;
			@include themeify {
				background: themed("BG4");
				span {
					display: block;
					font-size: 28px;
					color: themed("T1");
				}

				.value {
					font-size: 28px;
					color: themed("TB");
				}
			}
		}
		.isBright {
			@include themeify {
				background-color: themed("Theme");
				span {
					color: themed("TB1");
				}
				.value {
					color: themed("TB1");
				}
			}
		}
	}
}

.oddsUp {
	@include themeify {
		color: themed("Theme") !important;
	}
}

.oddsDown {
	@include themeify {
		color: themed("Wam-P1") !important;
	}
}
.lock {
	width: 32px;
	height: 32px;
}
